export PATH_add_elixir=/home/abhishek/.local/share/mise/installs/elixir/1.18.4/bin
export PATH_add_erlang=/home/abhishek/.local/share/mise/installs/erlang/27.3.4/bin

case ":$PATH:" in
  *":$PATH_add_elixir:"*) ;;
  *) export PATH="$PATH_add_elixir:$PATH" ;;
esac

case ":$PATH:" in
  *":$PATH_add_erlang:"*) ;;
  *) export PATH="$PATH_add_erlang:$PATH" ;;
esac
